body{
    font-family: sans-serif;
    font-size: medium;
    font-style: normal;
    line-height: 15px;
    font: normal;
    padding: 0%;
    margin: 0%;
    
}

.container{
    margin:auto;
    width: 80%;
    overflow: hidden;
}

header{
    border-bottom: darkgray 3px solid;
    font-style:solid; 
    background-color: black;
    color: azure;
    padding: 10px;
}

header a{
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
}

header li{
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}

 #about{
     min-height: 400px;
     text-align: right;
     background-color: white;
     padding: 50px;
     margin: 10px;
    
 }

#about h1{
     margin-top:100px;
     margin-bottom: 10px;
     font-size: 40px;
     color: grey
}

#about p{
  line-height: 20px;
  text-align: center;
}

/* Services */

#services{
     height: 350px;
     text-align: center;
     color: black;
     padding: 50px;
     margin: 10px;
     background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  
}

#services h1{
   margin-top:100px;
   color: grey;
     margin-bottom: 15px;
     font-size: 40px;
    text-decoration: underline;
    
    
}

#services p{
  line-height: 20px;
}


/* Project */

#project h1{
  margin-bottom: 30px;
  text-decoration: none;
  text-decoration-tickness: 1px;
  color: grey;

}

#project a{
  text-align: right;
  text-decoration: none;
  color: whitesmoke;
}

#project p{
  margin-left: 20%;
}

#project button{
  background-color: black;
  border-radius: 5px;
  width: 90px;
  padding: 10px;
}
/* FORM */

.action{
  margin-left: 60px;
}


.Top{
  font-size: 50px;
  margin-left: 60px;
}



.form-control {
  display: block:
  padding: 1%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 37%;
  
}

#name{
  padding: 8px;
  
}

#email{
 padding: 8px;
}

label{
  float: left;
}

#comment {
  margin-top: 30px;
  margin-right: 50px;
  width: 30%;
  padding: 50px;
  position:relative; right:70px; top:2px;
}


::placeholder{
   text-align: left;
   font-size: 14px;
   font-style: normal;
   line-height: 1.5;
}

.send{
  width: 7%;
  padding: 10px;
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  background-color: black;
  color: white ;
  border-radius: 5px;
}

footer{
  margin-top: 20px;
  width: 900p;
   padding: 20px;
    background-color: black;
    color: black;
    text-align: center;
  background-image: linear-gradient( to right, white, white, grey, orange, red);  
}